.App{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    /* text-transform: uppercase; */

}

.SearchPannel{
    border: 20px solid rgb(99, 178, 247);
    background-color: rgb(60, 151, 231);
    border-radius: 20px;
    color: white;
    text-shadow: 3px 3px #bb07a9;
    box-shadow: 10px 15px 10px rgb(179, 178, 178);

}


input{
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(188, 231, 231);
    box-shadow: inset 5px 5px 5px rgb(108, 108, 108);
}

button{
    font-family: Arial, Helvetica, sans-serif;
}

.GuestList{
    padding: 10px;
}

.UserSearch{
    padding: 10px;
}

.DragMe{
    padding: 50px;
    scale: 200%;
    text-shadow: 2px 2px #bb07a9;
    overflow: hidden;
}

.bi-arrow-down-circle-fill{
    text-shadow:none;
    color: blue;

    
}